/* Standard selectors */
.tile {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin: 2px;
	display: inline-block;
}
#grid {
	width: 520px;
	height: 540px;
	overflow: hidden;
}
#colorSpan {
	text-transform: uppercase;
}
.row {
	display: block;
}
p {
	margin: 5px;
}
h2 {
	margin: 6px;
}
button {
	margin: 3px;
	padding: 2px;
}
/* colors */
.red {
	color: #ffffff;
	background: #f52626;
}
.pink {
	color: #ffffff;
	background: #f014b5;
}
.purple {
	color: #ffffff;
	background: #ad26f5;
}
.blue {
	color: #ffffff;
	background: #269df5;
}
.green {
	color: #ffffff;
	background: #26f52e;
}
.orange {
	color: #ffffff;
	background: #f59d26;
}
/* GAMEOVER POPUP */
.popup {
	width: 400px;
	height: 200px;
	background: #fcfcfc;
	z-index: 1000;
	position: absolute;
	left: 75px;
	top: 275px;
	border-radius: 10px;
	box-shadow: 5px 5px 5px rgba(149, 149, 149, 0.81);
}
/* MOBILE DEVICES */
@media (max-width: 414px) {
	.tile {
		width: 75px;
		height: 75px;
		border-radius: 7px;
		margin: 2px;
	}
	#grid {
		width: 400px;
		height: 410px;
		overflow: hidden;
	}
}
@media (max-width: 400px) {
	.tile {
		width: 65px;
		height: 65px;
		border-radius: 6px;
		margin: 2px;
	}
	#grid {
		width: 350px;
		height: 360px;
		overflow: hidden;
	}
}
@media (max-width: 320px) {
	.tile {
		width: 60px;
		height: 60px;
		border-radius: 6px;
		margin: 1px;
	}
	#grid {
		width: 310px;
		height: 330px;
		overflow: hidden;
	}
}
