/* DISABLE HIGHLIGHTING */
* {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/* Standard selectors */
#game {
	z-index: -1;
}
.tile {
	width: 100px;
	height: 100px;
	border-radius: 10px;
	margin: 2px;
	display: inline-block;
}
#grid {
	width: 520px;
	height: 540px;
	overflow: hidden;
	margin: 0 auto;
}
#textStats {
	margin: auto;
	text-align: center;
}
#colorSpan {
	text-transform: uppercase;
}
.row {
	display: block;
	margin: 0 0 -4px 0;
}
p {
	margin: 5px;
}
h2 {
	margin: 6px;
}
button {
	margin: 3px;
	padding: 10px;
	background: #f0f0f0;
	border: 1px solid #aaaaaa;
	border-radius: 5px;
}
/* colors */
.red {
	color: #ffffff;
	background: #f52626;
}
.pink {
	color: #ffffff;
	background: #f014b5;
}
.purple {
	color: #ffffff;
	background: #ad26f5;
}
.blue {
	color: #ffffff;
	background: #269df5;
}
.green {
	color: #ffffff;
	background: #26f52e;
}
.orange {
	color: #ffffff;
	background: #f59d26;
}
/* GAMEOVER POPUP */
.popup {
	width: 400px;
	height: 200px;
	background: #fcfcfc;
	position: relative;
	margin: -500px auto 0 auto;
	border-radius: 10px;
	box-shadow: 5px 5px 50px #959595;
	text-align: center;
	overflow: visible;
	z-index: 2;
}
/* MOBILE DEVICES */
@media (max-width: 480px) {
	.tile {
		width: 19%;
		height: 100%;
		border-radius: 7px;
		margin: 1px;
	}
	#grid {
		width: 100%;
		height: 450px;
		overflow: hidden;
	}
	.row {
		width: 100%;
		height: 19%;
		margin: 2px;
	}
	.popup {
		margin: -400px auto 0 auto;
	}
}
@media (max-width: 320px) {
	.tile {
		width: 19%;
		height: 100%;
		border-radius: 7px;
		margin: 1px;
	}
	#grid {
		width: 100%;
		height: 300px;
		overflow: hidden;
	}
	.row {
		width: 100%;
		height: 19%;
		margin: 2px;
	}
	.popup {
		width: 250px;
		height: 175px;
		margin: -275px auto 0 auto;
	}
}